{% extends "reviews/admin/base.html" %}

{% load humanize %}

{% block title %}Edit review - {{ block.super }}{% endblock %}

{% block body_classes %}{{ block.super }} f_review_admin_edit{% endblock %}

{% block navbar_right %}
<a href="{{ review.get_absolute_url }}" class="btn btn-default navbar-btn" target="_blank">Preview</a>
<button type="button" class="btn btn-default navbar-btn js-save" data-loading-text="Saving&hellip;">Save</button>&nbsp;
{% endblock %}

{% block container %}
<div class="row">
  <div class="col-sm-12">
    <form method="POST" action="" class="js-edit-form" data-url="{% url "reviews:admin:xhr-edit" review.pk %}">
      {% csrf_token %}

      <div class="form-group">
        <input type="text" class="form-control input-lg" name="{{ form.title.html_name }}" id="{{ form.title.id_for_label }}" value="{{ form.title.value|default:"" }}">
      </div>

      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <input
              id="{{ form.source.id_for_label }}"
              type="text"
              name="{{ form.source.html_name }}"
              class="form-control"
              value="{{ form.source.value|default:"" }}"
              placeholder="Source"
            >
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <input
              id="{{ form.price.id_for_label }}"
              type="text"
              name="{{ form.price.html_name }}"
              class="form-control"
              value="{{ form.price.value|default:"" }}"
              placeholder="Price"
            >
          </div>
        </div>
        <div class="col-xs-2">
          <div class="form-group">
            <label>Score</label>
            <div class="input-group">
              <input
                id="{{ form.score.id_for_label }}"
                type="text"
                name="{{ form.score.html_name }}"
                class="form-control"
                value="{{ form.score.value|default:3 }}"
                placeholder="Score"
              >
              <span class="input-group-addon">/5</span>
            </div>
          </div>
        </div>
      </div>

      <div class="form-group">
        <textarea class="form-control" name="{{ form.content.html_name }}" id="{{ form.content.id_for_label }}" rows="40">{{ form.content.value|default:"" }}</textarea>
      </div>

      <div class="form-group">
        <textarea
          id="{{ form.nutrition.id_for_label }}"
          rows="4"
          class="form-control"
          name="{{ form.nutrition.html_name }}"
          placeholder="Nutrition"
        >{{ form.nutrition.value|default:"" }}</textarea>
      </div>

      <div class="form-group">
        <p>
          {{ form.published }}
          <label for="{{ form.published.id_for_label }}">Published</label>
        </p>
      </div>
    </form>
  </div>
</div>

{% endblock  %}
