{% extends "reviews/admin/base.html" %}

{% load humanize %}

{% block title %}Edit review - {{ block.super }}{% endblock %}

{% block body_classes %}{{ block.super }} f_review_admin_edit{% endblock %}

{% block navbar_right %}
<a href="{{ review.get_absolute_url }}" class="btn btn-default navbar-btn" target="_blank">Preview</a>
<button type="button" class="btn btn-default navbar-btn js-save" data-loading-text="Saving&hellip;">Save</button>&nbsp;
{% endblock %}

{% block container %}
<div class="row">
  <div class="col-sm-12">
    <form method="POST" action="" class="js-edit-form" data-url="{% url "reviews:admin:xhr-edit" review.pk %}">
      {% csrf_token %}

      <div class="form-group">
        <input type="text" class="form-control input-lg" name="{{ form.title.html_name }}" id="{{ form.title.id_for_label }}" value="{{ form.title.value|default:"" }}">
      </div>

      <div class="row">
        <div class="col-xs-4">
          <div class="form-group">
            <label>Source</label>
            <input
              id="{{ form.source.id_for_label }}"
              type="text"
              name="{{ form.source.html_name }}"
              class="form-control"
              value="{{ form.source.value|default:"" }}"
            >
          </div>
        </div>
        <div class="col-xs-2">
          <div class="form-group">
            <label>Price</label>
            <input
              id="{{ form.price.id_for_label }}"
              type="text"
              name="{{ form.price.html_name }}"
              class="form-control"
              value="{{ form.price.value|default:"" }}"
            >
          </div>
        </div>
        <div class="col-xs-2">
          <div class="form-group">
            <label>Banana score</label>
            <div class="input-group">
              <input
                id="{{ form.score_banana.id_for_label }}"
                type="text"
                name="{{ form.score_banana.html_name }}"
                class="form-control"
                value="{{ form.score_banana.value|default:3 }}"
              >
              <span class="input-group-addon">/5</span>
            </div>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="form-group">
            <label>Overall score</label>
            <div class="input-group">
              <input
                id="{{ form.score_overall.id_for_label }}"
                type="text"
                name="{{ form.score_overall.html_name }}"
                class="form-control"
                value="{{ form.score_overall.value|default:3 }}"
              >
              <span class="input-group-addon">/5</span>
            </div>
          </div>
        </div>
        <div class="col-xs-2">
          <div class="form-group">
            <label>State</label>
            <select
              id="{{ form.state.id_for_label }}"
              name="{{ form.state.html_name }}"
              class="form-control"
            >
              {% for x,y in form.fields.state.choices %}
              <option value="{{ x }}" {% if form.state.value == x %}selected{% endif %}>{{ y }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-9">
          <div class="form-group">
            <label>Nutrition</label>
            <input
              id="{{ form.nutrition.id_for_label }}"
              type="text"
              name="{{ form.nutrition.html_name }}"
              class="form-control"
              value="{{ form.nutrition.value|default:"" }}"
            >
          </div>
        </div>
        <div class="col-xs-3">
          <div class="form-group">
            <label>Serving</label>
            <input
              id="{{ form.nutrition_serving.id_for_label }}"
              type="text"
              name="{{ form.nutrition_serving.html_name }}"
              class="form-control"
              value="{{ form.nutrition_serving.value|default:"" }}"
            >
          </div>
        </div>
      </div>

      <div class="form-group">
        <textarea
          id="{{ form.content.id_for_label }}"
          name="{{ form.content.html_name }}"
          rows="20"
          class="form-control js-content"
        >{{ form.content.value|default:"" }}</textarea>
      </div>
    </form>
  </div>
</div>

<section id="images" data-url="{% url "reviews:admin:images:xhr-view" review.pk %}">&nbsp;</section>

<div class="well">
  <form
    action="{% url "reviews:admin:images:add" review.pk %}"
    method="POST"
    enctype='multipart/form-data'
  >
    {% csrf_token %}

    <h3>Add image</h3>

    <div class="form-group">
      <input type="file" name="image">
      <button type="submit" class="btn">Upload (refreshes page)</button>
    </div>

    <input
      type="text"
      class="form-control js-add-url"
      value=""
      data-url="{% url "reviews:admin:images:xhr-add-url" review.pk %}"
      placeholder="Paste an URL &hellip;"
    >
  </form>
</div>

{% endblock  %}
