{% extends "reviews/admin/base.html" %}

{% block body_classes %}{{ block.super }} f_review_admin_index{% endblock %}

{% block content %}

<section id="reviews">
  <table class="table table-striped">
  {% for review in reviews %}
  <tr>
    <td style="text-align: right;">{{ review.date.day }}</td>
    <td>
      <a href="{% url "reviews:admin:edit" review.pk %}">
        {{ review.title|default:"(no review)" }}
      </a>
    </td>
    <td>{{ review.source }}</td>
    <td style="text-align: right;">&pound;{{ review.price }}</td>
    <td>
      {% spaceless %}
        <a class="btn btn-default btn-xs" href="{% url "reviews:admin:edit" review.pk %}">Edit</a>
        <a class="btn btn-default btn-xs" href="{{ review.get_absolute_url }}">View</a>
        {% if not forloop.last %}
        <form method="POST" action="{% url "reviews:admin:move-down" review.pk %}" style="display: inline;">
          {% csrf_token %}
          <button class="btn btn-default btn-xs" type="submit">
            <i class="fa fa-angle-double-down"></i>
          </button>
        </form>
        {% endif %}
      {% endspaceless %}
    </td>
  </tr>
  {% endfor %}
  </table>

  <div class="container">
    <table class="table calendar">
      <thead>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thu</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
      </thead>
      <tbody>
        {% for week in days %}
        <tr>
          {% for day in week %}
          {% with by_day|getitem:day as review %}
          {% if review %}
          <td class="{% if review.title %}success{% else %}danger{% endif %}">
            <h2>
              <a
                href="{% url "reviews:admin:edit" review.pk %}"
                {% if review.title %}
                data-toggle="tooltip"
                data-placement="bottom"
                title="{{ review.title }}"
                {% endif %}
              >{{ review.date.day }}</a>
            </h2>
            <a href="{{ review.get_absolute_url }}">View</a>
            <span class="hidden-xs">
              &middot;
              <a href="{% url "reviews:admin:edit" review.pk %}">Edit</a>
            </span>
          </td>
          {% else %}
            <td>&nbsp;</td>
          {% endif %}
          {% endwith %}
          {% endfor %}
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</section>

{% endblock %}
