{% extends "base/base.html" %}

{% block body_classes %}{{ block.super }} f_login{% endblock %}

{% block container %}

<h1>Login</h1>

<form action="" method="POST">
  {% csrf_token %}

  <div class="form-group {% if form.username.errors %}has-error{% endif %}">
    <label for="{{ form.username.id_for_label }}" class="control-label">Username</label>
      <input type="text" class="form-control" name="{{ form.username.html_name }}" id="{{ form.username.id_for_label }}" value="{{ form.username.value|default:"" }}">
      <div class="help-block">
        {% for error in form.username.errors %}{{ error }}{% endfor %}
      </div>
  </div>

  <div class="form-group {% if form.password.errors %}has-error{% endif %}">
    <label for="{{ form.password.id_for_label }}" class="control-label">Password</label>
      <input type="password" class="form-control" name="{{ form.password.html_name }}" id="{{ form.password.id_for_label }}" value="{{ form.password.value|default:"" }}">
      <div class="help-block">
        {% for error in form.password.errors %}{{ error }}{% endfor %}
      </div>
  </div>

  <button class="btn btn-default" type="submit">Sign in</button>
</form>

{% endblock %}
