{% extends "base/base.html" %}

{% block body_classes %}{{ block.super }} f_about{% endblock %}

{% block title %}About | {{ block.super }}{% endblock %}

{% block header %}
  {{ block.super }}
  <h1>About</h1>
{% endblock %}

{% block content %}

<section class="about">
  <div class="container">
    <div class="row">
      <div class="col-sm-8">
        <p>
          Hi. I'm a {{ age }}-year-old Technical Architect at
          <a href="https://www.thread.com">Thread</a> (<a href="http://ycombinator.com/">YC</a> S12).

          I previously worked at <a href="https://www.playfire.com">Playfire</a>
          which was acquired in 2012.
        </p>

        <p>
          I'm passionate about creating things using software, not only
          also the primary author of
          contributor to 100's of others.
        </p>
        <p>
          I'm highly skilled in full-stack web development, with a focus on
          backend development using <a href="https://www.djangoproject.com/">Django</a>
          and system administration.

          I've been a official Debian Developer since 2008.
        </p>

        <p>
          I'm an avid triathlete &amp; cellist, regularly performing in public
          concerts.
        </p>

        <p>
          You can contact me at
          <a href="mailto:chris@chris-lamb.co.uk">chris@chris-lamb.co.uk</a>.
        </p>
      </div>
      <div class="col-sm-3 col-sm-offset-1 photo">
        <img class="img-responsive img-rounded animated fadeInRight" src="{% static "images/f_about/photo.jpg" %}">
      </div>
    </div>
  </div>
</section>

<section class="links">
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        <p><a href="https://twitter.com/lolamby"><img src="{% static "images/f_about/twitter.png" %}">@lolamby</a></p>
      </div>

      <div class="col-sm-4">
        <p><a href="https://instagram.com/lambyuk"><img src="{% static "images/f_about/instagram.png" %}">@lambyuk</a></p>
      </div>

      <div class="col-sm-4">
        <p><a href="https://github.com/lamby"><img src="{% static "images/f_about/github.png" %}">GitHub profile</a></p>
      </div>
    </div>
  </div>
</section>

<section class="lambigram">
  <div class="container">
    <img class="img-responsive" src="{% static "images/f_base/lambigram.png" %}" style="margin: 0 auto;">
  </div>
</section>

{% endblock %}
