{% extends "base/base.html" %}

{% block title %}{{ block.super }}{% endblock %}

{% block body_classes %}{{ block.super }} f_landing{% endblock %}

{% block content %}

<section id="intro" style="background-image: url({% static "images/f_landing/cover.jpeg" %})">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">31<br>bananas</h1>
          <div class="page-scroll">
            <a href="#about" class="btn btn-circle">
              <i class="fa fa-angle-double-down animated fadeIn"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>About</h2>
        <p>
          Every day in August 2014 I will sample a banana-flavoured food and post
          the review here.
        </p>
        <p>
          Each item will be fairly easibly available in UK shops or
          supermarkets.
        </p>
        <p>
          Why? Why not&hellip;
        </p>
      </div>
    </div>
  </div>
</section>

<section id="reviews">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Reviews</h2>
        {% for review in reviews %}
          <h3>
            <a href="{{ review.get_absolute_url }}">
              #{{ review.date.day }} &middot; {{ review.title }}
            </a>
          </h3>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

<section id="contact">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h2>Contact</h2>

        <p>
          Feel free to email us to provide some feedback on our templates, give
          us suggestions for new templates and themes, or to just say hello!
        </p>

        <p>&mdash; Chris</p>

        <ul class="list-inline banner-social-buttons">
          <li>
            <a href="https://twitter.com/31bananas" class="btn btn-default btn-lg"><i class="fa fa-twitter fa-fw"></i> <span class="network-name">Twitter</span></a>
          </li>
          <li>
            <a href="mailto:chris@31bananas.co.uk" class="btn btn-default btn-lg"><i class="fa fa-envelope fa-fw"></i> <span class="network-name">Email</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

{% endblock %}
