<div class="row">
  {% for image in review.images.all %}
  <div class="col-xs-3">
    <div class="thumbnail">
      <div style="max-height: 140px; overflow: hidden;">
        <a href="{{ image.image.url }}"><img src="{{ image.image.thumbnail.url }}" class="img-responsive"></a>
      </div>
      <div class="caption text-center">
        <button
          href="#"
          class="btn btn-primary js-delete"
          data-url="{% url "reviews:admin:images:xhr-delete" review.pk image.pk %}"
          data-loading-text="Deleting..."
        >Delete</button>

        <button
          class="btn btn-default js-rotate"
          data-url="{% url "reviews:admin:images:xhr-rotate" review.pk image.pk %}"
          data-loading-text="&hellip;"
        ><i class="fa fa-rotate-right"></i></button>

        {% if not forloop.last %}
        <button
          class="btn btn-default js-move-right"
          data-url="{% url "reviews:admin:images:xhr-move-right" review.pk image.pk %}"
          data-loading-text="&hellip;"
        ><i class="fa fa-angle-double-right"></i></button>
        {% endif %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<div class="clearfix"></div>
