Source: bananas
Section: net
Priority: optional
Maintainer: Chris Lamb <chris@chris-lamb.co.uk>
Build-Depends: debhelper (>= 7.0.50~), python-six
Standards-Version: 3.9.5

Package: bananas
Architecture: all
Depends:
  ${misc:Depends},
  python-six,
  python-docutils,
  python-psycopg2,
Description: 31bananas.co.uk
