{% extends "base/base.html" %}

{% load markup %}

{% block title %}{{ review.title }} | {{ block.super }}{% endblock %}

{% block body_classes %}{{ block.super }} f_review{% endblock %}

{% block content %}

<header>
  <div class="container">
    <h1>{{ review.title }}</h1>
    <h2><em>{{ review.source }}</em>, {{ review.price }}</h2>
  </div>
</header>

<section id="photos">
  <div class="container-fluid">
    <div class="row">
      {% for image in review.images.all %}
      <div
        class="photo col-xs-6"
        style="background-image: url({{ image.image.url }})"
      >&nbsp;</div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    {{ review.content|restructuredtext }}

    <p class="score">
      Score:
      <span>
        {% for x in score %}
        <img src="{% static "images/f_review/score.png" %}" style="height: 20px">
        {% endfor %}
      </span>
      ({{ review.score }}/5)
    </p>

    <p class="nutrition">
      Nutrition: <em>{{ review.nutrition }}</em>
    </p>
  </div>
</section>

{% endblock %}
