{% extends "base/base.html" %}

{% load markup %}

{% block title %}{{ review.title }} | {{ block.super }}{% endblock %}

{% block body_classes %}{{ block.super }} f_review{% endblock %}

{% block content %}

<header>
  <div class="container">
    <h1>
      <a
        {% if request.user.is_superuser %}
        href="{% url "reviews:admin:edit" review.pk %}"
        {% else %}
        href="{{ review.get_absolute_url }}"
        {% endif %}
      >{{ review.title|widont }}</a>
    </h1>
    <h2><em>{{ review.source }}</em>, &pound;{{ review.price }}</h2>
  </div>
</header>

<section id="photos">
  <div class="container-fluid">
    <div class="row">
      {% for image in review.images.all %}
      <div
        class="photo col-xs-3 col-md-6 {% if forloop.counter > 4 %}hidden-xs hidden-sm{% endif %}"
        style="background-image: url({{ image.image.cover.url }})"
      >&nbsp;</div>
      {% endfor %}
    </div>
  </div>
</section>

<section id="content">
  <div class="container">
    <div class="content">
      {{ review.content|restructuredtext }}

      <dl>
        <dt>Rating (max 5)</dt>
        <dd>
          {% for x in score %}
          <img src="{% static "images/f_review/score.png" %}">
          {% endfor %}
        </dd>

        {% if review.nutrition %}
        <dt>Nutrition{% if review.nutrition_serving %} ({{ review.nutrition_serving }}){% endif %}</dt>
        <dd>{{ review.nutrition }}</dd>
        {% endif %}
      </dl>
    </div>
  </div>
</section>

{% endblock %}
