.f_blog_post {
  font-size: 19px;
  font-family: "calluna";

  padding-bottom: 80px;

  .content {
    @media (min-width: 768px) {
      text-align: justify;
    }

    h1 {
      font-size: 19px;
      margin-top: 30px;
      letter-spacing: 3px;
    }

    img {
      margin: 35px auto;
      max-width: 100%;
      display: block;
    }

    &>img:first-child {
      margin-top: 0;
    }

    blockquote {
      border: none;
      font-size: 19px;
      font-style: italic;
      padding-left: 35px;

      @media (min-width: 768px) {
        text-align: justify;
      }
    }

    p {
      margin-bottom: 16px;
    }

    ul {
      margin-top: 20px;
    }

    li {
      margin-bottom: 15px;
    }

    dl {
      margin: 10px 0;

      &:before,
      &:after {
        display: table;
        content: "";
        line-height: 0;
      }

      &:after {
        clear: both;
      }

      dt {
        float: left;
        width: 140px;
        clear: left;
        text-align: right;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-bottom: 10px;
        font-weight: normal;
        font-style: oblique;
      }

      dd {
        margin-left: 170px;
        margin-bottom: 10px;
      }
    }

    table {
      width: 100%;
      margin: 20px 0 28px 0;

      th,
      td {
        padding: 8px;
        font-size: 17px;
        text-align: center;
      }

      th {
        border-top: 0;
        background-color: #eee;
      }
    }
  }

  label {
    font-size: 16px;
    font-weight: normal;
  }

  .text-italic {
    font-style: italic;
  }

  .figure {
    margin: 22px 0;
    padding: 15px;
    background-color: #eee;

    img {
      margin-top: 10px;
    }

    .caption {
      text-align: center;
    }
  }

  .object {
    text-align: center;
  }

  .about {
    p {
      margin: 0;
      font-size: 16px;
      text-align: left;
      line-height: 24px;
    }

    @media (min-width: 768px) {
      p {
        margin-top: 7px;
      }
    }

    .image {
      border: none;

      img {
        max-height: 80px;
        margin-right: 20px;
      }
    }
  }

  .tags {
    text-align: center;
    font-variant: small-caps;
    margin-bottom: 0;
    text-transform: lowercase;
  }

  .comments {
    list-style: none;
    margin-top: 40px;
    padding-left: 0;

    li {
      padding: 25px 0 13px 0;
    }

    li+li {
      border-top: 1px dotted;
    }

    li.self {
      padding: 25px 25px 15px 20px;
      background-color: #ffefd5;
    }

    .from {
      text-align: right;
    }

    .from .link {
      width: 8px;
      height: 9px;
      float: right;
      margin: 10px 0 0 5px;
      background: url(../images/f_blog_post/commentlink.png) no-repeat;
    }

    .from .link span {
      display: none;
    }

    .inline {
      margin: 22px 0 24px 50px;
      padding: 20px 28px 24px 24px;
      background: #ffefd5;
      border-bottom: 1px dotted;
    }

    .inline .from {
      font-size: 15px;
      margin-bottom: 0;
    }
  }

  .closed {
    margin-top: 50px;
    text-align: center;
  }
}
