.f_review_admin_index {
  section#reviews {
    width: 100%;
    padding: 50px 0;
    background-color: #fff;

    table {
      margin: 0 auto 60px auto;
      max-width: 800px;

    }

    .review-list {
      td {
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .calendar {
      thead th {
        padding-bottom: 15px;
      }

      td,
      th {
        border: 2px solid #fff;
        padding: 20px 0;
        text-align: center;

        a {
          color: #000;
        }

        h2 {
          margin: 0 0 7px 0;
          text-transform: none;
        }

        .btn {
          margin-right: 10px;
        }
      }
    }
  }
}
