.f_review {
  header {
    h1,
    h2 {
      text-transform: none;
    }
  }

  section {
    background-color: #fff;
    width: 100%;
  }

  section#content {
    padding: 40px 0;

    .score {
      span {
        margin: 0 10px;
      }
    }
  }

  section#photos {
    .photo {
      height: 500px;
      background: url(missing.jpeg) no-repeat center center scroll;

      background-size: cover;
      -o-background-size: cover;
      -moz-background-size: cover;
      -webkit-background-size: cover;
    }
  }
}
