.f_review {
  header {
    padding: 10px 0;

    @media (min-width: 768px) {
      padding: 20px 0;
    }

    a:hover {
      text-decoration: none;
    }

    h1 {
      margin-bottom: 8px;
      text-transform: none;
      letter-spacing: -3px;

      @media (min-width: 768px) {
        font-size: 50px;
      }
    }

    h2 {
      font-size: 18px;
      font-weight: normal;
      text-transform: none;
      padding-bottom: 10px;
    }
  }

  section {
    background-color: #fff;
    width: 100%;
  }

  section#content {
    padding: 30px 0;

    @media (min-width: 992px) {
      padding: 50px 0;
    }

    .content {
      color: #333;
      margin: 0 auto;
      max-width: 700px;

      a {
        border-bottom: 1px dotted;

        &:hover {
          border-bottom: 1px solid;
          text-decoration: none;
        }
      }

      dl {
        font-size: 18px;
        text-align: center;

        dt {
          font-style: oblique;
          font-weight: normal;
          margin: 50px 0 5px 0;
        }

        dd {
          margin-bottom: 30px;
        }

        img {
          height: 24px;
          margin-top: 7px;
        }
      }

      @media (min-width: 768px) {
        text-align: justify;
      }
    }
  }

  section#photos {
    .photo {
      height: 200px;
      background: url(missing.jpeg) no-repeat center center scroll;

      background-size: cover;


      @media (min-width: 768px) {
        height: 250px;
        -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, rgba(0,0,0,1)), color-stop(75%, rgba(0,0,0,0.7)), color-stop(90%, rgba(0,0,0,0.2)), color-stop(100%,rgba(0,0,0,0)));
      }

      @media (min-width: 992px) {
        height: 300px;
      }

      @media (min-width: 1200px) {
        height: 325px;
      }
    }
  }

  footer {
    padding: 30px 0 0 0;

    @media (min-width: 768px) {
      padding: 45px 0 15px 0;
    }

    .about {
      font-style: oblique;
    }

    .links p {
      text-align: center;

      @media (min-width: 768px) {
        text-align: left;

        &.twitter {
          text-align: right;
        }
      }
    }
  }
}
